
#header {
	background-color: #CCCCCC
}

#one {
	background-color:#20b2aa
}


#three {
	background-color:#20b2aa
}


input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
	background-color:#009500
}

	input[type="submit"].special:hover,
	input[type="reset"].special:hover,
	input[type="button"].special:hover,
	button.special:hover,
	.button.special:hover {
		background-color: #CCCCCC !important;
	}

	input[type="submit"].special:active,
	input[type="reset"].special:active,
	input[type="button"].special:active,
	button.special:active,
	.button.special:active {
		background-color: #CCCCCC !important;
	}

section.style2 {
  padding-top: 20px;
}

section.style2 h2.header {
  padding-top: 20px;
  text-align: center;
}

section.schedule {
  padding-bottom: 20px;

  padding-left: 12em;
  padding-right: 12em;
}

section.schedule table.schedule:last {
  margin-bottom: 0;
}

table.schedule td.time {
  text-align: right;
  width: 20%;
}

table.schedule td.item {
  text-align: left;
}

.features li {
  padding: 4em 2em 2em 4em;
}

section#cta .inner .actions.vertical {
  text-align: center;
  margin: 0 auto;
}
/*
@media(max-width: 600px) {

}
*/
