/* Helpers */
.ghost {
  opacity: 0;
  visibility: hidden;
}

/* Sections */
#header .logo img {
  margin-top: .2em;
  font-size: 2.25em;
  height: .7em;
  width: .7em;
  line-height: 2.35em;
  text-align: center;
}

#header .header-cta {
  margin-top: 2em;
}

#header .ghost {
  margin-top: 2em;
}

header.major > h1 {
  font-size: 2.5em;
}

section.quote img {
  margin: auto;
  margin-top: .2em;
  height: 5em;
  width: 5em;
  border-radius: .5em;
}

section.quote .body {
  display: flex;
}

section.quote .body > blockquote {
  border: none;
}

.feature .image img.zoom-50 {
  zoom: 50%;
}

.feature .image img.zoom-10 {
  zoom: 10%;
}
