
.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
  vertical-align:none;
}

.navbar-brand {
	display: inline-flex;
}

.brand-text {
	margin-left:15px;
	color: #009500;
}

@media(min-width:768px) {
	header .intro-text .intro-lead-in {
		line-height: 60px;
	}
}

footer {
	background-color: #2E3842;
}

.navbar-default.navbar-shrink {
	background-color: #2E3842;
}

.copyright {
	color: #FFF;
}

a, a:visited {
	color: #009500;
}

a:hover, a:active {
	color: #CCCCCC;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #009500;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: #CCCCCC;
}


.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
	color: #009500;
	background-color: #CCCCCC;
	border-radius: 3px;
}

.btn-xl {
	background-color: #009500;
	border-color: #009500;
}

.btn-xl:hover, .btn-xl:active {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}

.text-primary {
	color: #009500;
}

section h3.section-subheading.margin-bottom-20 {
  margin-bottom: 20px;
}

.contact-social {
  margin-bottom: 20px;
}

.img-squarcle {
  height: 225px;
  width:  225px;
}

.section-faded {
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.text-muted {
	font-style: normal;
	font-size: 16px;
}

section h3.section-subheading {
	font-size: 18px;
}

#portfolio .portfolio-item .portfolio-caption p {
	font-size: 14px;
	font-style: normal;
}

.bg-light-blue {
    background-color: #ADD8E6;
	border-top: double 3px #333;
	border-bottom: double 3px #333;
}

.bg-light-green {
    background-color: #98FB98;
}

section h3.section-subheading {
	font-style: normal !important;
}

header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/engr_fountain.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/engr_fountain.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/engr_fountain.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/engr_fountain.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}