
.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
}

section h3.section-subheading.margin-bottom-20 {
  margin-bottom: 20px;
}

.contact-social {
  margin-bottom: 20px;
}

.img-squarcle {
  height: 225px;
  width:  225px;
}

.section-faded {
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
