
.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
  vertical-align:none;
}

.navbar-brand {
	display: inline-flex;
}

.brand-text {
	margin-left:15px;
}

@media(min-width:768px) {
	header .intro-text .intro-lead-in {
		line-height: 60px;
	}
}

footer {
	background-color: #2E3842;
}

.navbar-default.navbar-shrink {
	background-color: #2E3842;
}

.copyright {
	color: #FFF;
}

section h3.section-subheading.margin-bottom-20 {
  margin-bottom: 20px;
}

.contact-social {
  margin-bottom: 20px;
}

.img-squarcle {
  height: 225px;
  width:  225px;
}

.section-faded {
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
